.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-family: "Agency FB", sans-serif;
    color: #b5aad7;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #b5aad7;
    color: #000000;
    border: none;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #74fcfc;
  }